#include "Flutter/Generated.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-dev.xcconfig"
TRACK_WIDGET_CREATION=

FLUTTER_FLAVOR=dev
FLUTTER_TARGET=$PROJECT_DIR/../lib/main.dart
PRODUCT_BUNDLE_IDENTIFIER=com.hcg.dayaway.partner.dev
DISPLAY_NAME=dev-Partner

FIREBASE_DIR=$PROJECT_DIR/$PROJECT_NAME/Resources/Firebase/Dev

// GOOGLE prefix key configs were copied from GoogleService-Info.plist
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.704642875635-tc0sedqg7jr8kis88hsed2runs99njm4
