#include "Flutter/Generated.xcconfig"
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-staging.xcconfig"
TRACK_WIDGET_CREATION=

FLUTTER_FLAVOR=staging
FLUTTER_TARGET=$PROJECT_DIR/../lib/main.dart
PRODUCT_BUNDLE_IDENTIFIER=com.hcg.dayaway.partner.stg
DISPLAY_NAME=stg-Partner

FIREBASE_DIR=$PROJECT_DIR/$PROJECT_NAME/Resources/Firebase/Staging

// GOOGLE prefix key configs were copied from GoogleService-Info.plist
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.704642875635-t2smbt0093gtm50ctc0j99krh12vq77d
