<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704642875635-t2smbt0093gtm50ctc0j99krh12vq77d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704642875635-t2smbt0093gtm50ctc0j99krh12vq77d</string>
	<key>API_KEY</key>
	<string>AIzaSyDkyaMZP6MbhuHFRTORg36jgWMb1JDGlgE</string>
	<key>GCM_SENDER_ID</key>
	<string>704642875635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hcg.dayaway.partner.stag</string>
	<key>PROJECT_ID</key>
	<string>dayaway-partner-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dayaway-partner-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704642875635:ios:c56705b1eef807dac4f786</string>
</dict>
</plist>